.card {
  display: flex;
  align-items: flex-start;
  gap: var(--space-s);
  padding: var(--space-s);
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: var(--radius-xl);

  > a {
    flex-shrink: 0;
    inline-size: 14rem;

    img {
      inline-size: 100%;
      block-size: auto;
      border-radius: var(--radius-lg);
    }
  }

  @media (width < 40rem) {
    flex-direction: column;

    > a {
      inline-size: 100%;
      max-inline-size: 32rem;
    }
  }
}
